<h1 mat-dialog-title>Maze Settings</h1>

<mat-dialog-content>
  <div class="dialogContent">
    <h5>Use these at your own risk!</h5>
    <mat-checkbox [checked]="galaxyAnimation" (change)="galaxyAnimation = !galaxyAnimation">Galaxy animation</mat-checkbox><br>
    <mat-checkbox [checked]="galaxyAudio" (change)="galaxyAudio = !galaxyAudio">Galaxy music</mat-checkbox><br>
    <mat-checkbox [checked]="starAudio" (change)="starAudio = !starAudio">Star movement sound</mat-checkbox>
    <h5>More settings like adjusting maze size coming soon.</h5>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button (click)="confirm()" color="primary" mat-raised-button>
    Save
  </button>
  <button (click)="dialogRef.close()" mat-raised-button>
    Cancel
  </button>
</mat-dialog-actions>