<h1 mat-dialog-title>🌟 Welcome to Galaxy Maze!</h1>

<mat-dialog-content>
  <p>
    The universe has blessed you upon a very complex task. You need to guide the lost star to the right spot in its universe.
    You wield the power of an ancient magnet (which origins are unknown) that can attract the stars of your choosing.
  </p>
  <p>
    You can move the star with your mouse. You can only move it to the nearest pad.
    The universe is forgiving, so you can move it across walls as many times as you like, but the star won't move along you.
    Move it to the pulsating spot, that's where the energy leaks into the endless space and must be filled.
  </p>
  <p>
    - Timotej M.
  </p>
  <mat-checkbox [checked]="backstory" (change)="backstory = !backstory" color="primary">Don't show this again</mat-checkbox>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button (click)="confirm()" color="primary" mat-raised-button>
    Play
  </button>
</mat-dialog-actions>