<h1 mat-dialog-title>🌟 Hello!</h1>

<mat-dialog-content>
  <h5>Welcome to Galaxy Maze.</h5>
  <h5>
    The universe has blessed you upon a very complex task. You need to guide the lost star to the right spot in its universe.
    You wield the power of an ancient magnet (which origins are unknown) that can attract the stars of your choosing.
  </h5>
  <h5>
    You can move the star with your mouse. You can only move it to the nearest pad and must not cross the walls.
    The universe is forgiving, so you can cross the wall as many times as you like, but the star won't move along you.
  </h5>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button (click)="confirm()" color="primary" mat-raised-button>
    Okay
  </button>
</mat-dialog-actions>