body {
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
}

#galaxyBackground {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -9999;
}

#game {
    position: absolute;
    margin: auto;
    /*width: 500px;
    height: 500px;*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

h1 {
    color: white;
    text-shadow: 2px 2px black;
}

.buttons {
    position: absolute;
    right: 5px;
    top: 5px;
}