body {
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
}

#galaxyBackground {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -9999;
}

h1 {
    color: white;
    text-shadow: 2px 2px black;
}