body {
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
    background: url('assets/images/galaxy.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#galaxy {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -9999;
}

#game {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.winText {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    text-align: center;
    font-size: 8em;
    line-height: 20px;
    color: rgba(255, 255, 255, 0);
    user-select: none;
}

.fadeIn {
    font-size: 5em;
    color: rgba(255, 255, 255, 255);
    transition: all 1s cubic-bezier(0.6, 0.04, 0.98, 0.335); // EaseInCirc
}

.fadeOut {
    font-size: 8em;
    color: rgba(255, 255, 255, 0);
    transition: all 1s ease;
}

.buttons {
    position: absolute;
    display: inline-block;
    right: 5px;
    top: 5px;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            padding-bottom: 5px;
            text-align: right;
        }
    }
}

.mat-dialog-title {
    margin-bottom: 0 !important;
}
